<footer id="footer" class="footer"  style="
background-image: url('./assets/images/ai-ba.jpg');
background-size: cover;
background-position: center;
background-color: white;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="footer-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="foot-box contact-details">
                        <h4>Location</h4>
                        <p class="list-unstyled">
                            Plot 35 Post Office Building, Floor 4 Suite 424, Kampala Road,  P.O Box 8430, Kampala, Uganda
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="foot-box sitemap">
                        <h4>Company Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#team">Team</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="foot-box sitemap">
                        <h4>Social Media</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="copyright-txt">
                        <span>
              Copyright © 2022 EmergentAi All Rights Reserved.
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>