<header id="header" class="header" style="
            background-image: url('./assets/images/ai-ba.jpg');
            background-size: cover;
            background-position: center;
            background-color: white;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center; 
            padding-bottom: 130px">
    <!-- Start Navbar -->
    <!-- Start Header -->
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- Logo -->
                <img src="./assets/images/logo.png" alt="EmergentAi" title="EmergentAi" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="link-ico">
                                <span class="title">Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">
                            <div class="link-ico">
                                <span class="title">About</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">
                            <div class="link-ico">
                                <span class="title">Services</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#projects" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="link-ico title">Products</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'cervical' %}">Emergent AVI</a></li>
              
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">
                            <div class="link-ico">
                                <span class="title">Team</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-buttons ml-auto list-unstyled">
                    <li class="nav-item nav-trial">
                        <a id="btn-open-account" class="bttn btn-purple" href="#contact">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Header -->
    <!-- End Navbar -->
    
    <!-- Start Header Content -->
    <div class="head-content">
        <div class="container align-items-center">
            <div class="row" >
                <div class="col-md-6 order-2 order-md-1">
                    <div class="head-txt" >
                        <h2 class="h1 text-left">Elevate Your Operations with AI technology</h2>
                        <p class="text-justify text-md-left text-sm-left" style="font-size: 17px;">
                            At EmergentAI, we're passionate about harnessing the power of AI to help all types of institutions, businesses, and organizations optimize their operations and stay ahead in a rapidly evolving landscape. Our cutting-edge solutions are designed to streamline processes, improve decision-making, and unlock new opportunities for growth. Whether you're looking to drive efficiency, stay competitive, or transform your organization, our advanced AI technology is here to help.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="head-img">
                        <img class="img-fluid" src="./assets/images/Isolated.png" alt="hero app" style="width: auto; height: 100%;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Content -->
</header>
