<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="Xente is a digital business account with digital payments and finance ops automation - all in one place. " />
    <meta name="keywords" content="Business account, Visa Cards, Virtual Visa Cards, Mobile Money,  Airtime, Data, Rewards, Online Payments, Expense Management, Disbursements, Reimbursements" />
    <!-- Basic Page Needs -->

    <meta name="author" content="Xente" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- IE Browser Support -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Page Title -->
    <!-- Favicon-->>
    <link rel="icon" href="./assets/images/favicon.png">
    <!-- Google Font -->
    <!-- <link href="./assets/css" rel="stylesheet" /> -->
    <!-- =========== CSS Files =========== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <!-- Box Icons -->
    <link rel="stylesheet" href="./assets/css/boxicons.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css" />
    <!-- Lity -->
    <link rel="stylesheet" href="./assets/css/lity.min.css" />
    <!-- Main Style -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link href="./assets/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/custom.css" />
    <!--Typeform-->
    <link rel="stylesheet" href="./assets/css/popup.css" />
    <!-- Modernizer Script for old Browsers -->
    <script async="" src="./assets/js/clarity.js"></script>
    <script type="text/javascript" async="" src="./assets/js/analytics.js"></script>
    <script async="" src="./assets/efsrocazub"></script>
    <script src="./assets/js/modernizr-2.6.2.min.js"></script>

    <script src="./assets/js/embed.js"></script>

</head>