{% extends "layout/cervical.html" %} {% block cervical %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6" style="
background-size: cover;
background-position: center;
background-color: #fff;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid" src="./assets/images/nurse.png" style="height: 75%; width:80%;" />
                        </h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4 class="h2">
                            An innovative mobile application that's reshaping cervical screening
                        </h4>
                        <p class="text-justify">
                            With Cacx, nurses can collect patient information, capture images of patient cervixes, and provide patient diagnosis using a state-of-the-art machine learning model that analyzes the images and assists with accurate diagnosis. 
                        </p>
                        <p class="text-justify">
                            If there is any disagreement between the machine learning model and the nurse's diagnosis, the images are automatically sent to a gynecologist for further review and a final say on the diagnosis.
                        </p>
                        <p class="text-justify">
                            But that's not all. Cacx also features a user-friendly interface that simplifies the data entry and image capture process, reducing the risk of human error and speeding up the diagnostic process. The application is fully mobile, allowing nurses to easily access patient data and medical records from anywhere. 
                        </p>
                        <p class="text-justify">
                            Additionally, Cacx is designed with patient privacy in mind, and features advanced security measures that ensure all patient data is safe and secure. With Cacx, healthcare professionals can improve patient outcomes and make a positive impact in the fight against cervical cancer.
                        </p>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start Contact Us Page -->
<section id="contactus" class="contact-us-page" style="
background-size: cover;
background-position: center;
background-color: #eeeef5;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="form-area" >
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">For more information, contact us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please contact us if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="http://alaa-ahmed.com/hotan/contact-us.html#">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->



{% endblock %}