{% extends "layout/yogera.html" %} {% block yogera %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6" style="
background-size: cover;
background-position: center;
background-color: #fff;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid rounded" src="./assets/images/luganda-removebg.png" style="objectfit: cover;" />
                        </h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4 class="h2">
                            An advanced tool for developing NLP models in Luganda language
                        </h4>
                        <p class="text-justify">
                            The Yogera application is a revolutionary tool that aims to democratize natural language processing (NLP) in the Luganda language. Built with the Common Voice platform, the app crowdsources text and audio data from volunteers in order to build high-quality NLP models for Luganda. 
                        </p>
                        <p class="text-justify">
                            Through its user-friendly interface, Yogera provides an accessible platform for both NLP experts and novice users to build and train models, as well as for researchers and businesses to tap into the growing market of Luganda NLP applications. 
                        </p>
                        <p class="text-justify">
                            The app is designed to be intuitive and easy to use, with features such as automated data pre-processing and model evaluation, making it a must-have tool for anyone interested in developing cutting-edge NLP models in Luganda.
                        </p>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start Contact Us Page -->
<section id="contactus" class="contact-us-page" style="
background-size: cover;
background-position: center;
background-color: #eeeef5;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="form-area" >
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">For more information, contact us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please contact us if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="{% url 'thanks' %}">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-name" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" name="message-email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-subject" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-number" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea name="message" class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->



{% endblock %}