{% extends "layout/services.html" %} {% block services %}

<!-- Services Start -->

<div class="container-fluid programe position-relative mt-5" style="margin-bottom: 2rem; padding-top: 5rem" >
    <div class="container">
        <div class="section-title text-center position-relative mb-5 mx-auto" style="max-width: 600px;">
            <h3>Services</h3>
            <h4 class="mb-0 text-center">Next-generation services and expertise in AI</h4>
        </div>
        <div class="row g-5 gx-5 mb-5">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="rounded p-5" style="background-color: #eeeef5;">
                    <img class="display-1 text-center w-100" src="./assets/images/robot.jpg" alt="" style="object-fit: contain;" height="200">
                    <h4 class="my-4 text-center">Intelligent automation</h4>
                    <input type="checkbox" class="read-more-state" id="post-1" />
                        <p class="text-secondary mb-0 read-more-wrap text-justify-left">
                            Intelligent automation is a combination of artificial intelligence (AI) and automation technologies used to improve business processes and increase efficiency. 
                        </p>
                        <div class="text-primary read-more-target text-justify-left">
                            Here at EmergentAI, we perform this sevice using a number of methods including: machine learning algorithms, natural language processing, and robotic process automation.
                        </div>
                        <label for="post-1"
                            class="text-uppercase text-center w-100 active nav-link-left read-more-trigger" type="button" style="margin-top: 1rem; margin-bottom: 1rem"><i class="bi bi-arrow-right"></i>
                        </label>  
                        <div class="text-center">
                            <a href="#contact" class="btn btn-primary bg-icon py-md-3 px-md-5 me-3 text-uppercase">Support</a>
                        </div>         
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="rounded p-5" style="background-color: #eeeef5;">
                    <img class="display-1 text-center w-100" src="./assets/images/analytics.png" alt="" style="object-fit: contain;" height="200">
                    <h4 class="my-4 text-center">Predictive analytics</h4>
                    <input type="checkbox" class="read-more-state" id="post-2" />
                        <p class="text-secondary mb-0 read-more-wrap text-justify-left">
                            Predictive analytics is a data analysis technique that uses statistical algorithms to identify patterns and make predictions about future events or behaviors. 
                        </p>
                        <div class="text-primary read-more-target text-justify-left">
                            Here at EmergentAI, we provide this sevice for a wide range on industries including: finance, marketing, healthcare and manufacturing.
                        </div>
                        <label for="post-2"
                            class="text-uppercase text-center w-100 active nav-link-left read-more-trigger"
                            type="button" style="margin-top: 1rem; margin-bottom: 1rem"><i class="bi bi-arrow-right"></i>
                        </label>  
                        <div class="text-center">
                            <a href="#contact" class="btn btn-primary bg-icon py-md-3 px-md-5 me-3 text-uppercase">Support</a>
                        </div>         
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="rounded p-5" style="background-color: #eeeef5;">
                    <img class="display-1 text-center w-100" src="./assets/images/nlp.jpg" alt="" style="object-fit: contain;" height="200">
                    <h4 class="my-4 text-center">Natural language processing</h4>
                    <input type="checkbox" class="read-more-state" id="post-3" />
                        <p class="text-secondary mb-0 read-more-wrap text-justify-left">
                            Natural Language Processing (NLP) focuses on the interaction between computers and human language. 
                        </p>
                        <div class="text-primary read-more-target text-justify-left">
                            Here at EmergentAI, we perform this sevice using: speech recognition, sentiment analysis, language translation, and chatbot interactions.
                        </div>
                        <label for="post-3"
                            class="text-uppercase text-center w-100 active nav-link-left read-more-trigger"
                            type="button" style="margin-top: 1rem; margin-bottom: 1rem"><i class="bi bi-arrow-right"></i>
                        </label>  
                        <div class="text-center">
                            <a href="#contact" class="btn btn-primary bg-icon py-md-3 px-md-5 me-3 text-uppercase">Support</a>
                        </div>         
                </div>
            </div>
        </div>
        <div class="row gx-5 g-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="rounded p-5" style="background-color: #eeeef5;">
                    <img class="display-1 text-center w-100" src="./assets/images/vision.png" alt="" style="object-fit: contain;" height="275">
                    <h4 class="my-4 text-center">Computer Vision Solutions</h4>
                    <input type="checkbox" class="read-more-state" id="post-4" />
                    <p class="text-secondary mb-0 read-more-wrap text-justify-left">
                        Computer vision solutions refers to the use of algorithms to enable computers to interpret, understand, and analyze visual data from the world around us. This includes images, videos, and other forms of visual media.
                    </p>
                    <div class="text-primary read-more-target text-justify-left">
                        Here at EmergentAI, we use computer vision solutions in a wide range of applications including: medical imaging, facial recognition, and robotics.
                    </div>
                    <label for="post-4"
                        class="text-uppercase text-center w-100 active nav-link-left read-more-trigger"
                        type="button" style="margin-top: 1rem; margin-bottom: 1rem"><i class="bi bi-arrow-right"></i>
                    </label>  
                    <div class="text-center">
                        <a href="#contact" class="btn btn-primary bg-icon py-md-3 px-md-5 me-3 text-uppercase">Support</a>
                    </div>        
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="rounded p-5" style="background-color: #eeeef5;">
                    <img class="display-1 text-center w-100" src="./assets/images/cognition.jpg" alt="" style="object-fit: conta;" height="275">
                    <h4 class="my-4 text-center">Cognitive Services</h4>
                    <input type="checkbox" class="read-more-state" id="post-5" />
                    <p class="text-secondary mb-0 read-more-wrap text-justify-left">
                        Cognitive services refer to a set of AI-based technologies and APIs that enable developers to add advanced intelligent capabilities to their applications without requiring deep expertise in AI or machine learning. 
                    </p>
                    <div class="text-primary read-more-target text-justify-left">
                        Here at EmergentAI, we design these technologies for a number of applications including: healthcare, retail, and education.
                    </div>
                    <label for="post-5"
                        class="text-uppercase text-center w-100 active nav-link-left read-more-trigger"
                        type="button" style="margin-top: 1rem; margin-bottom: 1rem"><i class="bi bi-arrow-right"></i>
                    </label> 
                    <div class="text-center">
                        <a href="#contact" class="btn btn-primary bg-icon py-md-3 px-md-5 me-3 text-uppercase">Support</a>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Start Contact Us Page -->
<section id="contact" class="contact-us-page" >
    <div class="container">
        <div class="form-area">
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-left">
                        <div class="section-title position-relative pb-3 mb-4">
                            <h3 class="text-left">Contact Us</h3>
                            <h4 class="mb-0 text-left">For more information, please contact us.</h4>
                        </div>
                        <div class="row gx-3">
                            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                                <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
                            </div>
                            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                                <h5 class="mb-4"><i class="fa fa-envelope text-primary me-3"></i>24 hrs support</h5>
                            </div>
                        </div>
                        <p style="margin-bottom: 3rem; margin-top: 1rem;">Thank you for your interest in EmergentAI. Please fill out the form below to get in touch with us. We'll do our best to respond to your message within 24 hours.  Our support team is always ready to help you and will make every effort to respond to your message as soon as possible.</p>
                        <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                            <div class="bg-icon d-flex align-items-center justify-content-center rounded me-5" style="width: 60px; height: 60px;">
                                <i class="fa fa-envelope text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5 class="mb-2">Email to ask any question</h5>
                                <h4 class="text-primary mb-0">info@emergentai.ug</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-side">
                        <form autocomplete="off" action="{% url 'thanks' %}">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-name" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" name="message-email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-subject" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-number" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea name="message" class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->


{% endblock %}