{% extends "layout/main.html" %} {% block content %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6"style="
background-image: url('./assets/images/vision-back.jpg');
background-size: cover;
background-position: center;
background-color: white;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="main-title text-center">
                <h3>Who We Are!</h3>
                <p>
                    We are a cutting-edge AI company that provides advanced technology solutions to optimize businesses and institutions.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            Our Vision
                        </h4>
                        <p class="text-justify">
                            To be a leader in the AI industry, driving innovation and delivering cutting-edge solutions that enhance the operations of businesses and institutions of all sizes. </p>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div>
                        <h4>
                            Our Mission
                        </h4>
                        <p class="text-justify">
                            To provide advanced AI technology solutions that optimize and transform operations, creating value for our clients and helping them achieve their goals. We strive to maintain the highest standards of quality and innovation in everything we do, while fostering a culture of collaboration and continuous improvement.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid" src="./assets/images/vision-removebg-preview.png" />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start Partners -->
<section id="clients" class="clients">
    <div class="container">
        <div class="clients-logos">
            <div class="row">
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
                <div class="col">
                    <img src="./assets/images/logo.png" alt="Logo" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Clients -->

<!-- Start project -->
<section id="projects" class="project pt-6">
    <div class="container">
        <div class="main-title">
            <h3>Our Projects</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="row">
            <!-- Start Post Item -->
            <div class="col-md-4">
                <div class="post-item">
                    <div class="post-img">
                        <img class="img-fluid" src="./assets/images/ai.jpg" alt="" />
                    </div>
                    <div class="post-txt">
                        <a class="post-title" href="">
                  Machine learning- aided screening of tuberculosis from chest
                  X-rays
                </a>

                        <p>
                            This project applies deep learning toward automatic TB detection in chest X-ray images. A highly accurate classification model for differential recognition of TB, healthy, pneumonia and covid-19 in chest X-ray images has been developed and deployed in
                            a web application
                        </p>
                        <p><a href="">Learn more</a></p>
                    </div>
                </div>
            </div>
            <!-- End Post Item -->
            <div class="col-md-4">
                <div class="post-item">
                    <div class="post-img">
                        <img class="img-fluid" src="./assets/images/ai.jpg" alt="" />
                    </div>
                    <div class="post-txt">
                        <a class="post-title" href="#">
                  Cervical cancer screening platform
                </a>

                        <p>
                            Cervical cancer (CaCx) is a major public health problem affecting middle-aged women, especially in less privileged countries all over the world. In 2018, approximately 570000 cases were recorded 311,000 being deaths.
                        </p>
                        <p><a href="">Learn more</a></p>
                    </div>
                </div>
            </div>
            <!-- End Post Item -->
            <div class="col-md-4">
                <div class="post-item">
                    <div class="post-img">
                        <img class="img-fluid" src="./assets/images/ai.jpg" alt="The Innovation Village" />
                    </div>
                    <div class="post-txt">
                        <a class="post-title" href="#">Yogera application</a>

                        <p>
                            Cervical cancer (CaCx) is a major public health problem affecting middle-aged women, especially in less privileged countries all over the world. In 2018, approximately 570000 cases were recorded 311,000 being deaths.
                        </p>
                        <p><a href="">Learn more</a></p>
                    </div>
                </div>
            </div>
            <!-- End Post Item -->
        </div>
    </div>
</section>
<!-- End Project -->
<!-- Start Our Team -->
<section id="our-team" class="our-team pb-5">
    <div class="container">
        <div class="main-title">
            <h3>Meet our team</h3>
            <p>We have a team <br> highly talented people</p>
        </div>
        <div class="row">
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses </h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- End Member Team -->
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- End Member Team -->
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>
            <!-- Start Member Team -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member-team">
                    <div class="member-image">
                        <a href="#" class="image">
                            <img class="pic-1" alt="" src="./assets/images/ai.jpg">
                        </a>

                    </div>
                    <div class="member-content">

                        <h5>Dr.Moses eteku</h5>
                        <p>Ph.D. Degree in Photonics Engineering, Photonics Research Group, Ghent University-imec, Ghent, Belgium</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Our Team -->
<section id="question" class="question">
    <div class="container text-center">
        <div class="row row-aligns">
            <div class="col-lg-6">
                <div class="question-txt">
                    <h3>Have any question ?</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="question-action">
                    <a id="btn-open-account" class="bttn btn-purple" href="">
                Contact Us
              </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Contact Us Page -->
<section id="contact-us-page" class="contact-us-page">
    <div class="container">
        <div class="form-area">
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">Find out more and connect with us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please feel free to contact us <br> if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="http://alaa-ahmed.com/hotan/contact-us.html#">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->

{% endblock %}