{% extends "layout/main.html" %} {% block content %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6" style="
background-size: cover;
background-position: center;
background-color: #fff;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="main-title text-center">
                <h3>Who We Are!</h3>
                <p>
                    We are a cutting-edge AI company that provides advanced technology solutions to optimize businesses and institutions.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            Our Vision
                        </h4>
                        <p class="text-justify">
                            To be a leader in the AI industry, driving innovation and delivering cutting-edge solutions that enhance the operations of businesses and institutions of all sizes. </p>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div>
                        <h4>
                            Our Mission
                        </h4>
                        <p class="text-justify">
                            To provide advanced AI technology solutions that optimize and transform operations, creating value for our clients and helping them achieve their goals. We strive to maintain the highest standards of quality and innovation in everything we do, while fostering a culture of collaboration and continuous improvement.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid" src="./assets/images/vision-removebg-preview.png" />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start project -->


<!-- End Project -->

<!-- Start Partners -->
<section id="clients" class="clients pt-6" style="
background-size: cover;
background-position: center;
background-color: #eeeef5;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="main-title">
            <h3>Our Partners</h3>
            <p>
                Funding and collaboration
            </p>
        </div>
        <div class="clients-logos">
            <div id="partnerCarousel" class="carousel slide" data-ride="carousel">
                <div class="row carousel-inner">
                  <div class="carousel-item active">
                    <div class="row d-flex">
                        <div class="col">
                            <img src="./assets/images/makerere-ai-removebg.png" alt="Logo" style="width: auto; height: auto;"/>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row d-flex">
                        <div class="col">
                            <img src="./assets/images/marconi-removebg.png" alt="Logo" style="width: auto; height: auto;"/>
                        </div>
                    </div>
                  </div>
                  <!-- Add more slides as needed -->
                </div>
            </div>
            <div class="row">
                <a class="carousel-control-prev" href="#partnerCarousel" role="button" data-slide="prev">
                    <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                    <div class="sr-only">Previous</div>
                </a>
                <a class="carousel-control-next" href="#partnerCarousel" role="button" data-slide="next">
                    <div class="carousel-control-next-icon" aria-hidden="true"></div>
                    <div class="sr-only">Next</div>
                </a>
            </div>
    </div>
</section>
<!-- End Clients -->

<!-- Start Contact Us Page -->
<section id="contact" class="contact-us-page" >
    <div class="container">
        <div class="form-area" >
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">For more information, contact us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please contact us if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="{% url 'thanks' %}">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-name" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" name="message-email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-subject" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-number" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea name="message" class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->



{% endblock %}