{% extends "layout/cervical.html" %} {% block cervical %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6" style="
background-size: cover;
background-position: center;
background-color: #fff;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid" src="./assets/images/nurse-bg.png" style="objectfit: cover;" />
                        </h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4 class="h2">
                            Empowering Healthcare with AI-Powered Cervical Cancer Screening
                        </h4>
                        <p class="text-justify">
                            This is an integrated cervical cancer screening platform with AI-based decision-making support for health care practitioners. When used in conjunction with mobile colposcopy, it provides AI-based screening of pre-cancerous lesions within seconds at an accuracy of &gt 90%, a sensitivity of 98% and a specificity of 82%.
                        </p>
                        <p class="text-justify">
                            It leverages AI-based, computer vision techniques to provide decision support tools for healthcare practitioners involved in cervical cancer screening using the Visual Inspection with Acetic acid (VIA) approach.
                        </p>
                        <p class="text-justify">
                            AI-based support tools include lesion segmentation, cervix location, lesion quadrant prediction, and flagging cases that are suspicious for precancerous lesions.  This point of care component of technology is deployed on a sophisticated android mobile application. 
                        </p>
                        <p class="text-justify">
                            This platform is not a replacement for a health care provider's clinical judgment; rather, it is an additional support tool for cancer screening assessments thereby reducing the possibility of human error and shortening turn-around time.
                        </p>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start Contact Us Page -->
<section id="contactus" class="contact-us-page" style="
background-size: cover;
background-position: center;
background-color: #eeeef5;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="form-area" >
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">For more information, contact us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please contact us if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="{% url 'thanks' %}">
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-name" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" name="message-email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-subject" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" name="message-number" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea name="message" class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->



{% endblock %}