{% extends "layout/tuberculosis.html" %} {% block tuberculosis %}

<!-- End Header -->

<!--Start About Us-->
<section id="about" class="about pt-6" style="
background-size: cover;
background-position: center;
background-color: #fff;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>
                            <img class="img-fluid" src="./assets/images/tuber-doctor.jpg" style="objectfit:cover;" />
                        </h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4 class="h2">
                            Revolutionizing tuberculosis treatment with AI
                        </h4>
                        <p class="text-justify">
                            Our Tuberculosis screening application is an innovative and highly accurate diagnostic tool that applies deep learning algorithms to detect the disease. The app leverages the latest advancements in machine learning to analyze chest x-rays and identify abnormal patterns, providing healthcare professionals with reliable, quick, and accurate results. 
                        </p>
                        <p class="text-justify">
                            The application utilizes computer vision algorithms to detect subtle patterns in chest x-rays that are indicative of the presence of tuberculosis. This allows doctors to quickly diagnose the disease, reducing the time and cost associated with traditional diagnosis methods. Additionally, our application uses a combination of machine learning models to analyze large datasets and provide recommendations to healthcare professionals, improving accuracy, and reducing the likelihood of false positives and negatives.
                        </p>
            
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
<!--End About Us -->

<!-- Start Contact Us Page -->
<section id="contactus" class="contact-us-page" style="
background-size: cover;
background-position: center;
background-color: #eeeef5;
height: auto;
display: flex;
align-items: center;
justify-content: center; ">
    <div class="container">
        <div class="form-area" >
            <div class="form-inner">
                <div class="form-box">
                    <div class="form-side text-center">
                        <div class="main-title">
                            <h3 class="title">For more information, contact us
                            </h3>
                            <p>We’ll share more about our services and answer your questions as soon as we can.

                            </p>
                        </div>
                    </div>
                    <div class="form-side">
                        <div class="main-title">

                            <p>Please contact us if you need any further information</p>
                        </div>
                        <form autocomplete="off" action="{% url 'thanks' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-1" placeholder="Full Name">
                                            <label for="field-1" class="floating-label">Full Name</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="email" class="floating-label-field floating-label-field--s3" id="field-2" placeholder="E-Mail Address">
                                            <label for="field-2" class="floating-label">E-Mail Address</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-3" placeholder="Subject">
                                            <label for="field-3" class="floating-label">Subject</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="field-4" placeholder="Phone Number">
                                            <label for="field-4" class="floating-label">Phone Number</label>
                                        </div>
                                        <!-- .floating-label-wrap -->
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <div class="floating-label-wrap">
                                            <textarea class="floating-label-field floating-label-field--s3" id="field-5" placeholder="Your Message"></textarea>
                                            <label for="field-5" class="floating-label">Your Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-buttons">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Page -->



{% endblock %}
