{% extends "layout/main.html" %} {% block content %}

<!-- Start Single Job -->
<section id="single-job" class="single-job">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 order-2 order-lg-1">
                <div class="side-description-form">
                    <div class="job-description">
                        <div class="box-details">
                            <h5>Machine learning- aided screening of tuberculosis from chest X-rays
                            </h5>

                        </div>
                        <div class="box-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae congue eu consequat ac felis donec et odio pellentesque. Fermentum dui faucibus in ornare quam
                                viverra orci. Massa tincidunt nunc pulvinar sapien et ligula. Sed adipiscing diam donec adipiscing. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo
                                nec. Tincidunt lobortis feugiat vivamus at augue eget arcu. Sit amet consectetur adipiscing elit pellentesque. Hendrerit dolor magna eget est lorem ipsum dolor sit. Diam quam nulla porttitor massa id. Blandit massa enim
                                nec dui. Gravida quis blandit turpis cursus in. Euismod lacinia at quis risus sed vulputate odio. Lorem mollis aliquam ut porttitor leo. Neque viverra justo nec ultrices. Eget nunc scelerisque viverra mauris in aliquam.
                                Pellentesque dignissim enim sit amet venenatis. Consequat nisl vel pretium lectus quam id leo in.Placerat vestibulum lectus mauris ultrices eros. Nunc scelerisque viverra mauris in aliquam sem. Etiam sit amet nisl purus
                                in mollis nunc sed id. Fringilla ut morbi tincidunt augue interdum velit euismod. Volutpat diam ut venenatis tellus. Dignissim enim sit amet venenatis urna. Nibh ipsum consequat nisl vel pretium lectus quam id. Condimentum
                                vitae sapien pellentesque habitant morbi tristique senectus et netus. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Nec feugiat in fermentum posuere urna nec. Non odio euismod lacinia at quis risus
                                sed. Lacinia quis vel eros donec ac. Dui accumsan sit amet nulla facilisi morbi. Vitae aliquet nec ullamcorper sit amet risus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Neque volutpat
                                ac tincidunt vitae semper quis lectus nulla at. Morbi tristique senectus et netus et malesuada fames. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Pretium fusce id velit ut. Augue ut lectus
                                arcu bibendum at varius vel pharetra. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Orci dapibus ultrices in iaculis. Consequat nisl vel pretium lectus quam id leo. Malesuada fames ac turpis
                                egestas. Non blandit massa enim nec dui nunc mattis enim. Mattis enim ut tellus elementum. Dolor morbi non arcu risus quis varius. Imperdiet proin fermentum leo vel orci porta non. Sed risus pretium quam vulputate dignissim
                                suspendisse in est. Donec ac odio tempor orci dapibus ultrices. Ipsum dolor sit amet consectetur. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Massa enim nec dui nunc mattis enim. Pharetra
                                sit amet aliquam id. In iaculis nunc sed augue lacus viverra.Risus nec feugiat in fermentum posuere urna nec. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Lacinia at quis risus sed vulputate odio
                                ut enim. Sem viverra aliquet eget sit. Convallis aenean et tortor at risus. Sit amet risus nullam eget felis eget nunc. Consequat id porta nibh venenatis cras sed felis. Aenean et tortor at risus viverra. Egestas sed tempus
                                urna et pharetra pharetra. Tellus at urna condimentum mattis pellentesque id nibh. Vitae ultricies leo integer malesuada.Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Volutpat consequat mauris nunc congue
                                nisi vitae. Faucibus turpis in eu mi bibendum neque egestas congue. Donec adipiscing tristique risus nec feugiat. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ipsum suspendisse ultrices gravida
                                dictum. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Ac turpis egestas sed tempus urna. Diam quam nulla porttitor massa id neque. Amet tellus cras adipiscing enim eu.Consectetur adipiscing elit ut aliquam
                                purus. Euismod elementum nisi quis eleifend quam adipiscing. Quis blandit turpis cursus in hac habitasse. Elementum eu facilisis sed odio morbi quis commodo. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Nunc
                                pulvinar sapien et ligula ullamcorper. Lectus magna fringilla urna porttitor rhoncus dolor. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Sit amet cursus sit amet dictum sit amet justo. Magna fermentum
                                iaculis eu non. Eu feugiat pretium nibh ipsum. Ornare suspendisse sed nisi lacus sed viverra tellus. Aliquam faucibus purus in massa. Nulla facilisi morbi tempus iaculis. Vulputate enim nulla aliquet porttitor. Odio facilisis
                                mauris sit amet massa vitae tortor condimentum lacinia. Vitae aliquet nec ullamcorper sit amet. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Nisi lacus sed viverra tellus. Tincidunt eget nullam non nisi
                                est sit amet. Porta lorem mollis aliquam ut porttitor leo a diam. Id semper risus in hendrerit gravida rutrum. Ornare lectus sit amet est placerat in egestas erat. Commodo odio aenean sed adipiscing diam donec adipiscing.
                                Posuere morbi leo urna molestie at. Purus in massa tempor nec feugiat nisl pretium fusce id. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Ut pharetra sit amet aliquam id diam maecenas ultricies.
                                Dignissim sodales ut eu sem.Donec massa sapien faucibus et molestie ac feugiat sed lectus. Placerat vestibulum lectus mauris ultrices. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Duis convallis convallis
                                tellus id interdum velit laoreet. At lectus urna duis convallis convallis tellus. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Viverra vitae congue eu consequat ac. Arcu dui vivamus arcu felis bibendum
                                ut. Amet volutpat consequat mauris nunc congue. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Quis blandit turpis cursus in hac. Nunc mattis enim ut tellus elementum sagittis vitae et. Ut diam
                                quam nulla porttitor massa id. Integer vitae justo eget magna fermentum iaculis eu. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Ultrices mi tempus imperdiet nulla malesuada pellentesque
                                elit. Fames ac turpis egestas integer eget aliquet nibh. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Ut aliquam purus sit amet luctus venenatis. Quis risus sed vulputate odio ut enim blandit volutpat
                                maecenas. Ullamcorper eget nulla facilisi etiam dignissim diam. Sed elementum tempus egestas sed sed risus pretium. Tortor condimentum lacinia quis vel eros donec ac. Pulvinar etiam non quam lacus suspendisse faucibus interdum
                                posuere lorem. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Netus et malesuada fames ac turpis egestas maecenas. Ut tellus elementum sagittis vitae et leo. Habitasse platea dictumst vestibulum rhoncus
                                est pellentesque elit ullamcorper. At quis risus sed vulputate odio ut enim blandit. Sagittis id consectetur purus ut faucibus pulvinar elementum. Lacus luctus accumsan tortor posuere ac ut consequat. Cras ornare arcu dui
                                vivamus arcu. Ridiculus mus mauris vitae ultricies leo. Habitant morbi tristique senectus et netus et malesuada. Amet commodo nulla facilisi nullam vehicula ipsum a. Tortor consequat id porta nibh venenatis cras sed felis
                                eget. Mi quis hendrerit dolor magna eget est. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Aenean pharetra magna ac placerat vestibulum lectus mauris. Non enim praesent elementum facilisis leo vel.
                                Nunc scelerisque viverra mauris in aliquam sem. Vitae congue mauris rhoncus aenean vel elit scelerisque. Scelerisque felis imperdiet proin fermentum leo. Amet consectetur adipiscing elit duis tristique sollicitudin nibh
                                sit.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Single Job -->
<!-- End Inner Page Content -->

<section id="question" class="question">
    <div class="container text-center">
        <div class="row row-aligns">
            <div class="col-lg-6">
                <div class="question-txt">
                    <h3>Have any question ?</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="question-action">
                    <a id="btn-open-account" class="bttn btn-purple" href="">
                Contact Us
              </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}